/*
 * base.less
 */

/* ----- General ----- */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Open Sans', sans-serif;
}

/* ----- Selection ----- */
::selection {
	color: white;
	background: fade(#3498db, 99%);
}

::-moz-selection {
	color: white;
	background: fade(#3498db, 99%);
}

/* ----- Headings ----- */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	margin: 0;
	margin-bottom: 30px;
}

h3{
	font-size: 28px;
    line-height: 33.6px;
}

/* ----- Images ----- */
img {
	max-width: 100%;
	height: auto;

	&:focus {
		outline: none;
	}
}

figure {
	margin: 0 0 0 0;
}


/* ----- Paragraphs ----- */
p {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
}

/* ----- Hyperlinks ----- */
a {
	color: inherit;

	&:hover,
	&:focus,
	&:active {
		color: inherit;
		text-decoration: none;
	}
}

/* ----- Lists ----- */
// General
ul, ol {
	padding: 0;
	margin: 0 0 0 0;
	list-style-type: none;
	font-size: 20px;
		line-height: 24px;
		font-weight: 500;
	ul, ol {
		padding-left: initial;
		margin-bottom: 0;
		font-size: 20px;
		line-height: 24px;
		font-weight: 500;
	}
}

// Ordered lists
ol {
	list-style-type: upper-alpha;

	li {
	}
}

/* ----- Buttons ----- */
button {
	border: 0;
	padding: 0;
	background: transparent;

	&:focus {
		outline: none;
	}
}

/* ----- Horizontal rules ----- */
hr {
	margin: 0 0 10px 0;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
}


/* ----- Align rules ----- */
.align-right{
	@media (min-width: @screen-sm) {
		text-align: right;
	}
}
