/*
 * utilities.less
 */

/* ----- Alignment ----- */
// Vertical alignment
.align-container {
	display: table;
	width: 100%;
	height: 100%;
}

.align-inner {
	display: table-cell;
	vertical-align: middle;
}

.align-inner--top {
	vertical-align: top;
}

.align-inner--bottom {
	vertical-align: bottom;
}

// Horizontal alignment
.align-center {
	text-align: center;
}

// Horizontal alignment
.align-right {
	text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


