.alert{
	text-align: center; 
	margin: 30px 0;
	display: block;
	@media (min-width: @screen-sm-min){
	  text-align: left;
	}
}
.contact-form{
    display: inline-block;
	text-align: center;
	max-width: 350px;
    @media (min-width: @screen-sm-min){
        display: block;
    }
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 250px;
	width: 250px;
    @media (min-width: @screen-sm-min){
        max-width: 350px;
        width: calc(100% - 2em);
        vertical-align: top;
    }
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #333;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Kuro */
.input--kuro {
	width: 250px;
	margin-bottom: 15px;
    @media (min-width: @screen-sm-min){
		margin: 0px 30px 15px 30px;
	}
	@media (min-width: @screen-sm-min){
		margin: 0px 0px 30px 0;
	}
	
}

.input__field--kuro {
	width: 100%;
	background: transparent;
	color: #333;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--kuro {
	position: absolute;
	left: 0;
	width: 100%;
	color: #333;
	pointer-events: none;
}

.input__label--kuro::before,
.input__label--kuro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border: 2px solid #333;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--kuro::before {
	border-right: none;
}

.input__label--kuro::after {
	left: 50%;
	border-left: none;
}

.text-area{
    margin-top: 15px;
    display: block;
    @media (min-width: @screen-sm-min){
        max-width: 350px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #333;
        font-weight: bold;
        font-size: 10.5px;
        text-align: center;
    }
    ::-moz-placeholder { /* Firefox 19+ */
        color: #333;
        font-weight: bold;
        font-size: 10.5px;
        text-align: center;
    }
    :-ms-input-placeholder { /* IE 10+ */
        color: #333;
        font-weight: bold;
        font-size: 10.5px;
        text-align: center;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: #333;
        font-weight: bold;
        font-size: 10.5px;
        text-align: center;
    }
}
.text-area label{
    display: block;
    text-align:l eft;
}
.area{
    height:120px;
    width: 250px;
    outline:0;
    border: 2px solid #333;
    padding:15px;
	border-radius: 0;
	@media (min-width: @screen-md-min){
        width: calc(98%);
	}
	@media (min-width: @screen-md-min){
        width: 350px;
	}
}

.area-label{
    padding:10px 0;
    color:#333;
    text-align:center;
}

.send-data{
    padding: 10px 20px;
    color: white;
    display: block;
    max-width: 250px;
    width: 250px;
    background: #333;
    font-weight: bold;
    font-size: 10.5px;
    margin: 20px auto;
    &:hover{
        background: white;
        color: #333;
	}
	@media (min-width: @screen-md-min){
        width: calc(98%);
	}
    @media (min-width: @screen-md-min){
        margin-bottom: 0;
        max-width: 350px;
        width: 350px;
    }
}

.input__field--kuro:focus,
.input--filled .input__field--kuro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--kuro:focus + .input__label--kuro::before,
.input--filled .input__label--kuro::before {
	-webkit-transform: translate3d(-10%, 0, 0);
	transform: translate3d(-10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro::after,
.input--filled .input__label--kuro::after {
	-webkit-transform: translate3d(10%, 0, 0);
	transform: translate3d(10%, 0, 0);
}

.input__field--kuro:focus + .input__label--kuro .input__label-content--kuro,
.input--filled .input__label-content--kuro {
	-webkit-animation: anim-2 0.3s forwards;
	animation: anim-2 0.3s forwards;
}

@-webkit-keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}

@keyframes anim-2 {
	50% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
		transform: translate3d(0, 3.7em, 0) scale3d(0.3, 0.3, 1);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3.7em, 0);
		transform: translate3d(0, 3.7em, 0);
	}
}