header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .menu {
        float: right;
        margin-right: 30px;
        margin-top: 15px;
        @media (min-width: @screen-sm-min){
            margin-top: 18px;
        }
    }
        li{
            display: block;
            float: left;
        a{
            display: block;
            cursor: pointer;
            padding: 20px 10px;

        }
        img{
            width: 20px;
        }
    }
}