/*
 * offcanvas.less
 */

.transition{
  /* This is !important to include */
  -webkit-transition: -webkit-transform .5s;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}



/* ----- General ----- */
.offcanvas-expanded{
  .page-wrap{
    /* This is !important to include */
    -webkit-transform: translateX(-320px); 
    -ms-transform: translateX(-320px); 
    transform: translateX(-320px);
    @media (min-width: @screen-sm) {
      -webkit-transform: translateX(-100%); 
      -ms-transform: translateX(-100%); 
      transform: translateX(-100%);
	  }
  }
  .offcanvas{
    visibility: visible;
    height: 1300px;
    @media (min-width: @screen-sm) {
      width: 100%;
      min-height: initial;
      position: fixed;
      height: 100vh;
    }
  }
}

.offcanvas{
  /* This is !important to include */
  visibility: hidden;
  width: 100%; 
  height: 0px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: white;
  z-index: 9999;
  -webkit-transform: translateX(-100%); 
  -ms-transform: translateX(-100%); 
  transform: translateX(-100%);
  @media (min-width: @screen-sm) {
    height: auto;
  }
  .transition;
  
  .mobile-wrap{
    background: white;
    display: inline-block;
    height: auto;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    @media (min-width: @screen-sm-min){
      padding-top: 100px;
      height: 100vh;
    }
    h2{
      margin-bottom: 10px;
      text-align: center;
      @media (min-width: @screen-sm-min){
        text-align: left;
        padding-left: 15px;
      }
      
    }
    p{
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 30px;
      @media (min-width: @screen-sm-min){
        padding-left: 15px;
        text-align: left;
        margin-bottom: 50px;
      }
    }
  }
.personal-info-wrapper{
  padding-top: 50px;
  background: white;
  padding-bottom: 50px;
  @media (min-width: @screen-sm-min){
    padding-top: 100px;
  }
}


.personal-info{
  h2{
    margin-bottom: 10px;
    text-align: center;
    @media (min-width: @screen-sm-min){
      text-align: left;
    }
  }
  p{
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    @media (min-width: @screen-sm-min){
      text-align: left;
    }
  }
  
}

.personal-info_wrapper{
  display: inline-block;
  padding-bottom: 100px;
  h2{
    padding-top: 50px;
  }
}

.personal-info_item{
  margin-top: 50px;
  padding-right: 30px;
  img{
    float: left;
    width: 40px;
    margin-right: 15px;
  }
  h3{
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 300;
    margin-bottom: 15px;
    padding-top: 5px;
  }
  p{
    padding-left: 40px;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
  }
  strong{
    float: right;
  }
}


  .social-wrap{
    display: none;
    @media (min-width: @screen-sm-min){
      background: black;
      color: white;
      height: 100vh;
      width: 100%;
      display: inline-block;
      padding-top: 100px;
      padding-left: 20px;
    }
  }
  .icons--mobile{
    li{
      margin-top: 50px;
      display: block;
    }
    li a img{
      width: 20px;
      display: block;
      margin: auto;
    }
  }
  .rotator{
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      display: block;
      margin-top: 100px;
  }
}

.offcanvas-expanded{
  .offcanvas{
    /* This is !important to include */
    -webkit-transform: translateX(0); 
    -ms-transform: translateX(0); 
    transform: translateX(0);
  }
}
#nav-toggle { 
	cursor: pointer; 
	padding: 25px;
	position: absolute;
	top: 25px;
  left: 20px;
	display: block;
  background-color: transparent;
  z-index: 9999;
  transition: all 100ms ease-in-out;
	@media (min-width: @screen-lg-min){
    left: 30px;
    top: 40px;
    right: initial;
	}
}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  left: 50%;
  margin-left: -12.5px;
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}


#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 300ms ease-in-out;
}



#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
  background: black;
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
  background: black;
}
