.project-wrap{
  height: 100vh;
  color: white;
  h1{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 1px;
    @media (min-width: @screen-sm-min){
        font-size: 60px;
      }
  }
  a{
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    background: transparent;
    text-transform: uppercase;
    &:hover{
      background: white;
      color: #333;
    }
  }
  p{
    margin-bottom: 40px;
  }
  .align-container{
    background: rgba(0, 0, 0, 0.65);
    padding-left: 30px;
    @media (min-width: @screen-sm-min){
        text-align: left;
        padding-left: 100px;
      }
  }
}

.align-right{
  .align-container{
    padding-left: 0;
    padding-right: 100px;
  }
}

.project-image{
  height: 100vh;
  background-size: cover;
}