@import "base/variables.less";

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-Hairline.eot');
	src: url('@{font-path}Archer-Hairline.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-Hairline.woff2') format('woff2'),
		url('@{font-path}Archer-Hairline.woff') format('woff'),
		url('@{font-path}Archer-Hairline.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-HairlineItalic.eot');
	src: url('@{font-path}Archer-HairlineItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-HairlineItalic.woff2') format('woff2'),
		url('@{font-path}Archer-HairlineItalic.woff') format('woff'),
		url('@{font-path}Archer-HairlineItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-ExtraLight.eot');
	src: url('@{font-path}Archer-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-ExtraLight.woff2') format('woff2'),
		url('@{font-path}Archer-ExtraLight.woff') format('woff'),
		url('@{font-path}Archer-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-ExtraLightItalic.eot');
	src: url('@{font-path}Archer-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-ExtraLightItalic.woff2') format('woff2'),
		url('@{font-path}Archer-ExtraLightItalic.woff') format('woff'),
		url('@{font-path}Archer-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-Light.eot');
	src: url('@{font-path}Archer-Light.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-Light.woff2') format('woff2'),
		url('@{font-path}Archer-Light.woff') format('woff'),
		url('@{font-path}Archer-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-LightItalic.eot');
	src: url('@{font-path}Archer-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-LightItalic.woff2') format('woff2'),
		url('@{font-path}Archer-LightItalic.woff') format('woff'),
		url('@{font-path}Archer-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-Book.eot');
	src: url('@{font-path}Archer-Book.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-Book.woff2') format('woff2'),
		url('@{font-path}Archer-Book.woff') format('woff'),
		url('@{font-path}Archer-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-BookItalic.eot');
	src: url('@{font-path}Archer-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-BookItalic.woff2') format('woff2'),
		url('@{font-path}Archer-BookItalic.woff') format('woff'),
		url('@{font-path}Archer-BookItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-Medium.eot');
	src: url('@{font-path}Archer-Medium.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-Medium.woff2') format('woff2'),
		url('@{font-path}Archer-Medium.woff') format('woff'),
		url('@{font-path}Archer-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-MediumItalic.eot');
	src: url('@{font-path}Archer-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-MediumItalic.woff2') format('woff2'),
		url('@{font-path}Archer-MediumItalic.woff') format('woff'),
		url('@{font-path}Archer-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-SemiboldItalic.eot');
	src: url('@{font-path}Archer-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-SemiboldItalic.woff2') format('woff2'),
		url('@{font-path}Archer-SemiboldItalic.woff') format('woff'),
		url('@{font-path}Archer-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-Bold.eot');
	src: url('@{font-path}Archer-Bold.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-Bold.woff2') format('woff2'),
		url('@{font-path}Archer-Bold.woff') format('woff'),
		url('@{font-path}Archer-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Archer';
	src: url('@{font-path}Archer-BoldItalic.eot');
	src: url('@{font-path}Archer-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Archer-BoldItalic.woff2') format('woff2'),
		url('@{font-path}Archer-BoldItalic.woff') format('woff'),
		url('@{font-path}Archer-BoldItalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}


/* This stylesheet generated by Transfonter (https://transfonter.org) on April 23, 2017 11:48 AM */

@font-face {
	font-family: 'Amaranth';
	src: url('@{font-path}Amaranth-BoldItalic.eot');
	src: url('@{font-path}Amaranth-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Amaranth-BoldItalic.woff2') format('woff2'),
		url('@{font-path}Amaranth-BoldItalic.woff') format('woff'),
		url('@{font-path}Amaranth-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Amaranth';
	src: url('@{font-path}Amaranth-Italic.eot');
	src: url('@{font-path}Amaranth-Italic.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Amaranth-Italic.woff2') format('woff2'),
		url('@{font-path}Amaranth-Italic.woff') format('woff'),
		url('@{font-path}Amaranth-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Amaranth';
	src: url('@{font-path}Amaranth-Regular.eot');
	src: url('@{font-path}Amaranth-Regular.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Amaranth-Regular.woff2') format('woff2'),
		url('@{font-path}Amaranth-Regular.woff') format('woff'),
		url('@{font-path}Amaranth-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amaranth';
	src: url('@{font-path}Amaranth-Bold.eot');
	src: url('@{font-path}Amaranth-Bold.eot?#iefix') format('embedded-opentype'),
		url('@{font-path}Amaranth-Bold.woff2') format('woff2'),
		url('@{font-path}Amaranth-Bold.woff') format('woff'),
		url('@{font-path}Amaranth-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
